<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ page.title }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">첫페이지로</a>
<!--    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="#" data-proofer-ignore>처음으로</a> -->
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="#" data-proofer-ignore><b>이 페이지 차례(처음으로)</b></a>
    {% for node in page.toc %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %} sidebar-nav-item-toc" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
    -- by {{ site.author.name }}, on {{ page.date | date: '%B %d, %Y' }}
    </p>
    <p>
      <a href="https://minicomp.github.io/ed/">Ed.</a>를 이용하여 만들고, <a href="https://github.com">github</a>에 호스팅하였습니다. 
    </p>
  </div>
</aside>
